<section class="header">
  <div class="nav__container container ns-container">
    <div class="menu">
      <div class="menu-item">Features</div>
      <div class="menu-item">Screenshots</div>
      <div class="menu-item">Pricing</div>
      <div class="menu-item">Testimonials</div>
    </div>
    <img class="logo-img" src="/assets/img/Logo.svg" alt="logo" />
  </div>
</section>

<section class="about">
  <div class="about__container container ns-container">
    <div class="about__purchase purchase">
      <div class="purchase__header">
        <span class="purchase__title">Take charge of your finances</span>
        <span class="purchase__subtitle">Getting out of debt and saving more money has never been this easy.</span>
      </div>
      <div class="purchase__buttons">
        <a class="buttons__item buttons__item-flooded" href="javascript:void(0)">Download for free</a>
        <a class="buttons__item" href="javascript:void(0)">Video introduction</a>
      </div>
    </div>
    <div class="about__carousel"><div class="carousel"></div></div>
  </div>
</section>
<section class="features wrapper">
  <div class="features__container container ns-container">
    <div class="features__img_container">
      <img class="features__img-selected" src="/assets/img/w.png" alt="" />
    </div>

    <div class="features__info info">
      <div class="info__header">
        <span class="info__title">Budgeting made simple</span>
        <span class="info__after_title"
          >Numm uses an envelope budgeting style where each expense has its own envelope.</span
        >
      </div>
      <div class="posts__container">
        <div class="post">
          <span class="post__header">Payees</span>
          <span class="post__text">Create payees for your most commonly used payment destinations.</span>
        </div>
        <div class="post">
          <span class="post__header">Categories</span>
          <span class="post__text">Group similar transaction destinations for easier operation.</span>
        </div>
        <div class="post">
          <span class="post__header">Scheduled transactions</span>
          <span class="post__text">Get notified ahead of time of due transactions.</span>
        </div>
        <div class="post">
          <span class="post__header">Multiple budgets **PRO** </span>
          <span class="post__text"> You can seamlessly switch from a personal budget to a company one.</span>
        </div>
        <div class="post">
          <span class="post__header">Goal tracking **PRO** </span>
          <span class="post__text">Track your transactions and updates the goals you set for various categories.</span>
        </div>
        <div class="post">
          <span class="post__header">Sync between devices **PRO** </span>
          <span class="post__text"> All your data will be synced seamlessly between iOS devices.</span>
        </div>
        <div class="post">
          <span class="post__header">Reports **PRO** </span>
          <span class="post__text">
            Generate insighful reports for your spending habits but also for income trends. Also export to PDF.</span
          >
        </div>
        <div class="post">
          <span class="post__header">Sync with your bank **PRO** </span>
          <span class="post__text"> Grab all the transactions from your bank statement automatically.</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="IOS_device container ns-container">
  <div class="IOS__container">
    <div class="IOS_header__container">
      <span class="IOS_header__title">Works beautifully on your iOS device</span>
      <span class="IOS_header__after_title"
        >Numm works on your iPhone and iPad so your finances are always at your fingertips.</span
      >
    </div>
    <div class="IOS__body">
      <div class="IOS__card">
        <img class="IOS__img" src="https://via.placeholder.com/300x200" alt="" />
        <span class="IOS__description">works with Touch ID and Face ID on iOS</span>
      </div>

      <div class="IOS__card">
        <img class="IOS__img" src="https://via.placeholder.com/300x200" alt="" />
        <span class="IOS__description">support for 3D Touch enabled iOS devices</span>
      </div>

      <div class="IOS__card">
        <img class="IOS__img" src="https://via.placeholder.com/300x200" alt="" />
        <span class="IOS__description">retina optimized</span>
      </div>

      <div class="IOS__card">
        <img class="IOS__img" src="https://via.placeholder.com/300x200" alt="" />
        <span class="IOS__description">optimized for all screen sizes of iPhones and iPads</span>
      </div>
    </div>
  </div>
</section>

<section class="purchase wrapper">
  <div class="purchase__container purchase container ns-container">
    <div class="purchase__header">
      <span class="purchase__title">Take charge of your finances today</span>
      <span class="purchase__subtitle">Get out of debt and save more money. Download Numm for free.</span>
    </div>
    <div class="purchase__buttons">
      <a class="buttons__item buttons__item-flooded" href="javascript:void(0)">Download Numm for free</a>
    </div>
  </div>
</section>

<div class="white__padding"></div>
<section class="security wrapper">
  <div class="security__container">
    <div class="security__img_container">
      <img class="security__img" src="https://via.placeholder.com/510x360" alt="" />
    </div>
    <div class="security__info info">
      <div class="info__header">
        <span class="info__title">Security</span>
        <span class="info__after_title"
          >We take privacy and security seriously so you can rest assured that your financial data is safe with
          Numm.</span
        >
      </div>
      <div class="posts__container">
        <div class="post">
          <span class="post__header">Online banking</span>
          <span class="post__text"
            >We never store your bank login credentials but instead use 3rd party data aggregation providers.</span
          >
        </div>
        <div class="post">
          <span class="post__header">Data Encryption</span>
          <span class="post__text"
            >We encrypt all your data and also bcrypt hash all user passwords. On top of that, the data centers we use
            are hacker-proof.</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
<div class="white__padding"></div>

<section class="support wrapper">
  <div class="support__container">
    <div class="support__img_container">
      <img class="support__img" src="https://via.placeholder.com/510x360" alt="" />
    </div>
    <div class="support__info info">
      <div class="info__header">
        <span class="info__title">Support</span>
        <span class="info__after_title"
          >We're always here for you to make sure you have the best experience possible.</span
        >
      </div>
      <div class="posts__container">
        <div class="post">
          <span class="post__header">24/7 online support</span>
          <span class="post__text"
            >Our team is here to help you with any questions or problems you might have. Round the clock. Reach us via
            chat or support ticket. Submit ticket -></span
          >
        </div>
        <div class="post">
          <span class="post__header">Free educational classes</span>
          <span class="post__text"
            >Our YouTube channel contains a large number of educational videos for best practices and weekly tips and
            tricks for getting the most out of Numm. Visit channel -></span
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="screenshots">
  <div class="screenshots__container container ns-container">
    <img class="screenshot__item" src="https://via.placeholder.com/400x600" alt="" />
    <img class="screenshot__item" src="https://via.placeholder.com/400x600" alt="" />
    <img class="screenshot__item" src="https://via.placeholder.com/400x600" alt="" />
    <img class="screenshot__item" src="https://via.placeholder.com/400x600" alt="" />
    <img class="screenshot__item" src="https://via.placeholder.com/400x600" alt="" />
    <img class="screenshot__item" src="https://via.placeholder.com/400x600" alt="" />
  </div>
</section>
<section class="testimonials wrapper">
  <div class="testimonials__container container ns-container">
    <span class="testimonials__header"> Testimonials </span>
    <div class="testimonial">
      <span class="testimonials__text"
        >Numm is a great app for managing your finances, but it's not for everyone. There's a pretty big learning curve,
        but once you get the hang of it, it really helps you.</span
      >
      <span class="testimonial_person">- Mary Ann, attorney</span>
    </div>
    <div class="testimonials__switcher">
      <div class="testimonial__place">
        <img src="https://via.placeholder.com/120x40" alt="" />
      </div>
      <div class="testimonial__place">
        <img src="https://via.placeholder.com/120x40" alt="" />
      </div>
      <div class="testimonial__place">
        <img src="https://via.placeholder.com/120x40" alt="" />
      </div>
      <div class="testimonial__place">
        <img src="https://via.placeholder.com/120x40" alt="" />
      </div>
      <div class="testimonial__place">
        <img src="https://via.placeholder.com/120x40" alt="" />
      </div>
    </div>
  </div>
</section>
<div class="white__padding"></div>
<section class="pricing wrapper">
  <div class="pricing__container container ns-container">
    <span class="pricing__header">Pricing</span>
    <div class="pricing_cards__container">
      <div class="pricing__card">
        <div class="card__inner">
          <img class="pricing__card-img" src="/assets/img/Icon.png" alt="" />
          <span class="card__header">Numm</span>
          <span class="card__title">Free</span>
          <span class="card__features">Free features</span>
        </div>
        <button class="card__btn">Download for Free</button>
      </div>
      <div class="pricing__card">
        <div class="card__inner">
          <img class="pricing__card-img" src="/assets/img/Icon.png" alt="" />
          <span class="card__header">Numm Pro</span>
          <span class="card__title">$9.99/month</span>
          <span class="card__features">All the features in Numm, plus the premium ones.</span>
        </div>
        <button class="card__btn">Buy Now</button>
      </div>
    </div>
  </div>
</section>
<section class="purchase">
  <div class="purchase__container purchase container ns-container">
    <div class="purchase__header">
      <span class="purchase__title">Ready to take charge of your finances?</span>
      <span class="purchase__subtitle">Download the free Numm app today or sign up for Numm Pro.</span>
    </div>
    <div class="purchase__buttons">
      <a class="buttons__item buttons__item-flooded" href="javascript:void(0)">Download Numm for free</a>
      <a class="buttons__item buttons__item-flooded" href="javascript:void(0)">Buy Numm Pro</a>
    </div>
  </div>
</section>
<section class="footer wrapper">
  <div class="footer__container container ns-container">
    <div class="footer__inner">
      <img class="logo_img" src="/assets/img/Logo.svg" alt="logo" />
      <div class="footer__menu">
        <div class="menu-item">Teaching Center</div>
        <div class="menu-item">Roadmap</div>
        <div class="menu-item">Support</div>
      </div>
    </div>
    <div class="wrapper_"></div>
    <div class="copyright__container">
      <span class="copyright__item">Numm Inc.</span>
      <span class="copyright__item">2569 Land Park Dr, Sacramento, CA 95818 </span>
      <span class="copyright__item">office@nummfinance.com +1-916-555-0184</span>
    </div>
    <div class="footer__social">
      <div class="copyright__year">© 2010 — 2020 Numm Inc.</div>
      <div class="social__container">
        <span class="social__item"> Twitter </span>
        <span class="social__item"> Facebook </span>
        <span class="social__item"> YouTube </span>
        <span class="social__item"> Instagram </span>
      </div>
    </div>
  </div>
</section>
